:root {
    --red: #EF476F;
    --yellow: #FFD166;
    --green: #06D6A0;
}

* {
    font-family: 'Inconsolata', monospace;
}

body {
    margin: 0;
}

.home {
    height: 100vh;
}

/* Home page rectangles */

.home-red {
    width: 4vw;
    height: 80vh;
    background: var(--red);
}

.home-yellow {
    width: 4vw;
    height: 70vh;
    background: var(--yellow);
}

.home-green {
    width: 4vw;
    height: 60vh;
    background: var(--green);
}

.rectangles {
    display: flex;
    margin-left: 8vw;
}

/* Home page layout */

.home-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menus {
    display: flex;
    align-self: flex-start;
}

.menu {
    margin-right: 3rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
}

.home-titles h1 {
    margin-left: 2rem;
    font-size: 2.8rem;
}

.home-titles h3 {
    margin-left: 5rem;
    font-size: 1.5rem;
}

/* Menu  rectangles and links */
.menus a,
.menus-phone a {
    text-decoration: none;
    color: black;
}

.menu-red,
.menu-yellow,
.menu-green {
    height: 0.5rem;
}

.menu-red {
    width: 4.1rem;
    background: var(--red);
}

.menu-yellow {
    width: 7.5rem;
    background: var(--yellow);
}

.menu-green {
    width: 5rem;
    background: var(--green);
}

.menu-item {
    display: flex;
    flex-direction: column;
}

.home-phone-container {
    display: none;
}

@media only screen and (max-width: 1040px) {
    .home-titles h1 {
        font-size: 2.3rem;
    }
    
    .home-titles h3 {
        font-size: 1.1rem;
    }

    .menu {
        margin-right: 2rem;
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }

    .menu-red {
        width: 3.6rem;
        background: var(--red);
    }
    
    .menu-yellow {
        width: 6.3rem;
        background: var(--yellow);
    }
    
    .menu-green {
        width: 4.2rem;
        background: var(--green);
    }
}

/* Change display */
@media only screen and (max-width: 690px) {
    .home-titles h1 {
        font-size: 1.7rem;
    }
    
    .home-titles h3 {
        font-size: 1rem;
        margin-left: 3rem;
    }

    .menu {
        margin-right: 2rem;
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }

    .home-container-1 {
        display: none;
    }

    .home-phone-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home-title-phone {
        font-size: 1.7rem;
    }

    .menu-red {
        margin-left: 1.4rem;
    }

    .menu-green {
        margin-left: 1.1rem;
    }
}

@media only screen and (max-width: 350px) {

    .home-title-phone {
        font-size: 1.7rem;
    }

    .home-subtitle-phone {
        font-size: 0.9rem;
    }
    
}