
* {
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
}

body {
    background-color: white;
}

.index {
    background-color: #74D3C1;
}

/* HOME PAGE */

.jumbotron {
    background-color: #74D3C1;
    margin-top: 13%;
    /* box-shadow: 0.1px 0.5px 14px #030303;   */
}

.jumbotron h1 {
    font-size: 6rem;
}

.jumbotron p {
    font-size: 1.6rem;
}

.jumbotron a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #A52AA9;
    border: 0px;
    box-shadow: 2px 5px 13px #030303;  
}

/* PORTFOLIO */

/* Portfolio Aside */

.myCol1 {
    background-color: black;
    color: white;
}

.myCol1 h2 {
    margin: 1.5rem;
}

button {
    margin-bottom: 1.5rem;
}

.btn-outline-primary {
    border-color: #74D3C1;
}

.btn-outline-primary a {
    color: #74D3C1;
}

.btn-secondary {
    background-color:#A52AA9;
    border-color:#A52AA9;
}

.btn-secondary:hover {
    background-color:#8f2992;
    border-color:#8f2992;
}

/* Portfolio Main */

.myCol2 h1 {
    margin-top: 2rem;
}

.myCol2 hr {
    width: 80%;
}

.myCol3, 
.myCol4{
    border: 2rem solid white;
}

.myCol3 a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.myCol4 .myTitle, .myText {
    text-align: left;
    line-height: 2rem;
}

.btn-success {
    background-color:#74D3C1;
    border-color:#74D3C1;
}

.btn-success:hover {
    background-color:#52bda9;
    border-color:#52bda9;
}

@media only screen and (max-width: 770px) {
    .myCol1 {
        height: fit-content;
    }
}

@media only screen and (min-width: 770px) {
    .myRow1 {
        height: 100vh;
    }
    
}
