
* {
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
}

body {
    background-color: white;
}

.index {
    background-color: #74D3C1;
}

/* HOME PAGE */

.jumbotron {
    background-color: #74D3C1;
    margin-top: 11%;
}

.jumbotron h1 {
    font-size: 5rem;
}

.jumbotron p {
    font-size: 1.6rem;
}

.jumbotron .contact {
    font-size: 1rem;
}

.jumbotron a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1.8rem;
    background-color: #A52AA9;
    border: 0px;
    box-shadow: 2px 5px 13px #030303;  
}

/* PORTFOLIO */

/* Portfolio Aside */

.myCol1 {
    background-color: black;
    color: white;
    /* height: 100vh; */
}

.myCol1 h2 {
    margin: 1.5rem;
}

button {
    margin-bottom: 1.5rem;
}

.btn-outline-primary {
    border-color: #74D3C1;
}

.btn-outline-primary a {
    color: #74D3C1;
    text-decoration: none;
}

.btn-outline-primary:hover {
    background-color: #1a3a34;
    border-color: #74D3C1;
}

.btn-outline-secondary {
    border-color:#A52AA9;
}

.btn-outline-secondary a {
    color: #A52AA9;
    text-decoration: none;
}

.btn-outline-secondary:hover {
    background-color:#350d36;
    border-color:#A52AA9;
}

.btn-secondary {
    background-color:#A52AA9;
    border-color:#A52AA9;
}

.btn-secondary:hover {
    background-color:#8f2992;
    border-color:#8f2992;
}

/* Portfolio Main */

.myCol2 h1 {
    margin-top: 2rem;
}

.myCol2 hr {
    width: 80%;
}

.myCol3, 
.myCol4{
    border: 2rem solid white;
}

.myCol3 a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.myCol4 .myTitle, .myText {
    text-align: left;
    line-height: 2rem;
}

.btn-success {
    background-color:#74D3C1;
    border-color:#74D3C1;
}

.btn-success:hover {
    background-color:#52bda9;
    border-color:#52bda9;
}

/* ABOUT PAGE */

.myCol11 {
    background-color: black;
    color: white;
    height: 100vh;
}

.myCol11 h2 {
    margin: 1.5rem;
}

.card {
    box-shadow: 2px 5px 13px #838383; 
}

.about {
    width: 80%;
}

.about img {
    max-width: 30%;
    margin-right: 2rem;
    float: left;
}

.aboutCard {
    line-height: 1.8rem;
}

@media only screen and (max-width: 766px) {
    .myCol1 {
        background-color: black;
        color: white;
        height: auto;
    }

    .about {
        width: 100%;
    }

    .about img {
        max-width: 100%;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .jumbotron h1 {
        font-size: 3rem;
    }

    .myCol11 {
        background-color: black;
        color: white;
        height: auto;
    }
}